*
{
	margin:1px;
	padding:10px;
}
body{
	background-color:#23B4DB;
}

header .textos-header{
	display:flex;
	height:430px;
	width:100%;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	text-align:center;
}


